<!DOCTYPE html>
<html>
<head>
    <title>RCO - {{master.modelo}} - {{master.versao}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <style>
      .table > tbody > tr > td {
          vertical-align: middle;
      }

      @media (min-width: 768px) {
        .container {
          width: 732px; 
        } 
      }
      @media (min-width: 992px) {
        .container {
          width: 952px; 
        } 
      }
      @media (min-width: 1200px) {
        .container {
          width: 1152px; 
        } 
      }
      @media (min-width: 1400px) {
        .container {
          width: 1200px; 
        } 
      }
      @media (min-width: 1600px) {
        .container {
          width: 1400px; 
        } 
      }
      @media (min-width: 1800px) {
        .container {
          width: 1600px; 
        } 
      }
    </style>
</head>
<body>
    {% for classe in master.classes %}    
    <div class="container">
        <table class="table table-bordered" style="width:100%">
            <thead>
                <tr style="background-color: #cccccc">
                    <th class="col-xs-1 col-lg-2 col-md-2 col-sm-2 text-center" colspan=2>
                        Classe
                    </th>
                    <th class="col-xs-9 col-lg-9 col-md-9 col-sm-9 text-center" colspan=3>
                        Descrição
                    </th>
                    <th class="col-xs-1 col-lg-1 col-md-1 col-sm-1 text-center">
                        Geometria
                    </th>
                </tr>
                <tr style="background-color: #cccccc">
                    <th class="col-xs-1 col-lg-2 col-md-2 col-sm-2 text-center" id="{{classe.nome}}"  colspan=2>
                        <strong>{{classe.print_nome}}</strong>
                    </th>
                    <th class="col-xs-9 col-lg-9 col-md-9 col-sm-9 text-center" colspan=3>
                        <strong>{{classe.descricao}}</strong>
                    </th>
                    <th class="col-xs-1 col-lg-1 col-md-1 col-sm-1 text-center">
                        <strong>{{classe.print_geometrias}}</strong>
                    </th>
                </tr>
                <tr style="background-color: #76faff">
                    <th class="text-center col-lg-1 col-md-1 col-sm-1 col-xs-1">Atributo</th>
                    <th class="text-center col-lg-1 col-md-1 col-sm-1 col-xs-1">Tipo</th>
                    <th class="text-center col-lg-2 col-md-2 col-sm-2 col-xs-2">Descrição</th>
                    <th class="text-center col-lg-3 col-md-3 col-sm-3 col-xs-3">Domínio</th>
                    <th class="text-center col-lg-4 col-md-4 col-sm-4 col-xs-4">Descrição do domínio</th>                    
                    <th class="text-center col-lg-1 col-md-1 col-sm-1 col-xs-1">Requisito</th>                    
                </tr>
            </thead>
            <tbody>
                {% for atributo in classe.atributos %}
                {% if "valores" in atributo %}
                {% for dominio in atributo.valores %}
                {% if loop.index == 1 %}
                <tr>
                    <td class="text-center col-lg-1 col-md-1 col-sm-1 col-xs-1" rowspan="{{atributo.rowspan}}">{{atributo.nome}}</td>                 
                    <td class="text-center col-lg-1 col-md-1 col-sm-1 col-xs-1" rowspan="{{atributo.rowspan}}">{{atributo.print_tipo}}</td>
                    <td class="text-center col-lg-2 col-md-2 col-sm-2 col-xs-2" rowspan="{{atributo.rowspan}}">{{atributo.descricao}}</td>
                    <td class="text-center col-lg-3 col-md-3 col-sm-3 col-xs-3">{{dominio.print_nome}}</td>
                    <td class="text-center col-lg-4 col-md-4 col-sm-4 col-xs-4">{{dominio.descricao}}</td>
                    <td class="text-center col-lg-1 col-md-1 col-sm-1 col-xs-1" rowspan="{{atributo.rowspan}}">{{atributo.cardinalidade}}</td>   
                </tr>
                {% else %}
                <tr>
                    <td class="text-center col-lg-3 col-md-3 col-sm-3 col-xs-3">{{dominio.print_nome}}</td>
                    <td class="text-center col-lg-4 col-md-4 col-sm-4 col-xs-4">{{dominio.descricao}}</td>
                </tr>
                {% endif %}
                {% endfor %} 
                {% else %}
                <tr>
                    <td class="text-center col-lg-1 col-md-1 col-sm-1 col-xs-1">{{atributo.nome}}</td>                 
                    <td class="text-center col-lg-1 col-md-1 col-sm-1 col-xs-1">{{atributo.print_tipo}}</td>
                    <td class="text-center col-lg-2 col-md-2 col-sm-2 col-xs-2">{{atributo.descricao}}</td>
                    <td class="text-center col-lg-3 col-md-3 col-sm-3 col-xs-3">{{atributo.valor_nome}}</td>
                    <td class="text-center col-lg-4 col-md-4 col-sm-4 col-xs-4">{{atributo.valor_descricao}}</td>                      
                    <td class="text-center col-lg-1 col-md-1 col-sm-1 col-xs-1">{{atributo.cardinalidade}}</td>   
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>     
    </div>  
    {% endfor %}
</body>
</html>
